@font-face {
    font-family: "My Custom Font";
    font-family: 'Poppins', sans-serif;        
    src: url(fonts/Poppins-Regular.woff) format("woff2");
}              




*{
    margin: 0;
    padding: 0;      
    font-family: 'Poppins', sans-serif;        
}           

html{
    overflow-y: overlay;
}

html, body {      
    max-width: 100%;
    overflow-x: hidden;
}


// <!-- NAV-SECTION -->
.nav-section{
  
    width: 100%;  
    position: fixed;
    z-index: 1000;         

    .row{    
        display: flex;
        width: 100%;  
        // border-bottom: 2px solid #fff;                                          
        .col-1{
            width: 100%;       
            flex-basis:38%;     
            background-color: #000;
            // background-color: red;     
            text-align: center;
            padding-top: 12px;      
            .logo{
                width: 62%;      
            }
        }
        .col-2{
            width: 100%;         
            flex-basis: 70%;             
            background-color: #686872;    
            position: relative;
            display: flex;     
            justify-content: center;
            padding-top: 6px;      

            #mobile-nav{
                font-size: 27px;
                color: #fff;  
                cursor: pointer;   
                position: absolute;   
                right: 6%;
                transform: translateY(21%);    
                display: none;   
                width: 27px;         

            }
            
            .links{
                display: flex;   
                position: absolute;  
                bottom: 0;
                // padding: 0 16%;  
                padding-bottom: 8px;    
                // width: 100%;   
                #close-btn{  
                    display: none;
                }

                li{     
                    list-style: none;
                    margin-right: 22px;
                    font-size: 16px;          

                    a{
                        text-decoration: none;
                        color: #fff;     

                        .line{      
                            margin-left: 7px;
                        }

                        &:hover{ 
                            color: #ffca69;
                            font-weight: bold;
                            transition: all .2s;            

                        }
                    }
                }
            }

        }
    }
}

@media(max-width:1221px){   
 
    .nav-section .row {
        
        .col-2{   
            background-color: #000; 
            #mobile-nav{   
                display: inline-block;
                height: 100%;    
                display: flex;
                align-items: center;
                margin-top: -10px;
            }
            .links{

                #close-btn{  
                    display: inline-block;
                    color: #fff;  
                    transform: scale(1.5); 
                    cursor: pointer;   
                    width: 24px;
                    margin-bottom: 33px;
                 
                }

                flex-direction: column;    
                height: 100vh;       
                width: 200px;   
                background-color: #686872;    
                text-align: left;   
                top: 0;    
                padding: 30px; 
                right: -500px;              
                padding-top: 88px;
                font-size: 22px; 
                transition: right .4s;                              
                z-index: 300;   
        
        
                li{
                    margin-bottom: 42px;      
                    a{
                        display: inline-block;
   
                        font-weight: 300;
                        // padding: 1rem 2rem;
                        color: #fff;

                        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
                        background-size: 230%;
                        -webkit-transition: all .4s;
                        transition: all .4s;

                        .line{   
                            display: none;
                        }
                    }
                    a:hover{                  
                        background-position: 100%;
                        color: #686872;                
                        // -webkit-transform: translateX(1rem);
                        // transform: translateX(1rem);       
                        padding: 6px 37px;                       
                    }
                }
            }
        } 
        

}
    
}    


// COMING SOON SECTION

.coming-soon{
    margin-top: 150px;           
    // background-color: rgb(241, 161, 11);    
    // min-height: 100vh;  
    
    .coming-soon-wrapper{     
        min-height: 100vh;       
        display: flex;    
        justify-content: center;
        align-items: center;     

        h2{
            font-size: 30px;   
            margin-top: auto;     
            margin-bottom: auto;              
        }

    }
}




footer{
    width: 100%; 
    .wrapper{    
        width: 100%; 
        // background:#AF9F90; 
        table{                  
            width: 100%;     
            // background:#AF9F90; 

            tr{
                td{   
                    // border:2px solid #000;
                }

                .fisrt{
                    @media(max-width:1100px){                            
                        display: none;        
                    }      
                }

                .col-1{    
                    width: 42.5%;
                    height: 100%;    
                  
                    img{ 
                        width: 100%;
                        height: 100%; 
                    }

                }
                .col-2{   
                    position: relative;
                    // background: #dddddd; 
                    // width: 42.5%; 
                    width: 34.5%;

                    // background-image: url(img/backgroun-section.png);      
                    background-image: linear-gradient(rgba(255, 255 ,255,.7), rgba(255, 255 ,255,.7)), url(./../img/backgroun-section.png);
    
                    background-position: center;
                    background-size: contain;              

                   
                    
                    @media(max-width:1100px){                                 
                        width: 100%;      
                        }   
                        .wrapper{
                            position: absolute;
                            top: 0;
                            left: 0;     
                            // background-color: red;  
                            background-image: url(./../img/asa.png);       
             
                            background-position: center;   
                            background-size: contain;       
                            
                            .wrapper-2{    
                                // background-color: #DDDDDD;


                                // background-image: linear-gradient(rgb(229 234 255 / 70%), rgb(238 241 255 / 55%)), url(img/backgroun-section.png);
                                // background-image: url(img/backgroun-section.png);           
                                // background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/backgroun-section.png);            
  
                                background-image: linear-gradient(rgba(255, 255 ,255,.7), rgba(255, 255 ,255,.7)), url(./../img/backgroun-section.png);
                                background-position: center;                
                                background-size: contain;               
                                // background-image: linear-gradient(rgb(229 234 255 / 70%), rgb(238 241 255 / 55%)), url(img/backgroun-section.png);
                                padding: 15px;                                                
                            

                                @media(max-width:1100px){                                                                      
                                    padding: 26px 90px;      
                                 }        


                                .row-1{       
                                    p{        
                                        text-align: center;
                                        font-size: 20px;
                                        margin-bottom: 10px;   
                                        font-weight: bold;    
                                        @media(min-width:1794px){
                                            margin-top: 45px; 
                                            font-size: 27px;  
                                        }
                                    }
                                }
                                .row-2{  
                                    display: flex;  
                                    justify-content: space-between;
                                    font-size: 14px;  
                                    
                                    margin-bottom: 7px;

                                    // background-color: red;     
                                    

                                    @media(min-width:1794px){
                                        font-size: 20px;    
                                    }

                                    @media(max-width:1379px){                          
                                        font-size: 12px;    
                                    }   
                                    
                                    @media(max-width:1100px){                          
                                        font-size: 17px;     
                                    }     
                                    @media(max-width:483px){                          
                                        // font-size: 13px; 
                                        flex-direction: column;   
                                    }     
                                    .col-1{       
                                        text-align: left;   
                                        // background-color: red; 
                                    
                                        @media(max-width:483px){                          
                                            margin-top: 30px;     
                                        }     
                                        .name{ 
                                            font-weight: bold;
                                        }

                                        .third{     
                                            // background: yellow;  
                                            display: flex;  
                                        }
                                    }
                                    .col-2{     
                                        text-align: right;  

                                        @media(max-width:483px){                          
                                        //   text-align: left; 
                                        margin-top: 38px; 
                                        }     
                                        
                                        .name{ 
                                            font-weight: bold;
                                        }           
                                    }

                                }
                                .row-3{             
                                    margin-bottom: 25px;  
                                    // background-color: red; 


                                    @media(max-width:1379px){                          
                                        margin-bottom: 13px;   
                                    }   

                                    @media(max-width:1115px){                          
                                        font-size: 11px;             
                                    }   
                                    
             
                                    p{
                                        text-align: left;
                                        font-weight: bold; 
                                        font-weight: 500;
                                    }
                                }
                                
                                .row-4{

                                    input{    
                                        border: none;
                                        background: transparent; 
                                        border-bottom: 1px solid #AEAEAE;   
                                    
                                        @media(max-width:1115px){                          
                                            font-size: 11px;  
                                        }    

                                        @media(max-width:1100px){                          
                                            font-size: 17px;     
                                        }               
                                    }
                                    input:focus{
                                        outline: none;
                                    }    

                                    form{
                                        display: flex;
                                        flex-direction: column;

                                        .row-1{        
                                            display: flex; 
                                            width: 100%;

                                            

                                            @media(max-width:1100px){                          
                                               flex-direction: column;  
                                            }      
                                            input{
                                                width: 50%; 

                                                @media(min-width:1794px){
                                                    font-size: 21px;  
                                                }
                                                
                                                @media(max-width:1100px){                          
                                                    width: 100%;       
                                                    margin-top: 6px; 
                                                 } 
                                                &:last-child{        
                                                    margin-left: 15px;
                                                    @media(max-width:1100px){                          
                                                        margin-left: 0px;   
                                                     } 
                                                }
                                            }
                                        }

                                        .row-2{
                                            width: 100%;
                                            margin-top: 29px;
                                            
                                            @media(max-width:1175px){                          
                                                margin-top: 13px;  
                                            }    
                                            input{     

                                                @media(min-width:1794px){
                                                    font-size: 21px;    
                                                } 

                                                width: 100%;
                                            }   
                                        }

                                        .row-3{
                                            width: 100%;  
                                            text-align: center;  
                                            button{  
                                                width: 15%;
                                                background: transparent;
                                                cursor: pointer;
                                                border: none;   
                                                padding: 10px 0px;
                                                border: 1px solid #797979; 
                                                margin-top: 25px;             
                                            
                                                @media(max-width:1245px){                          
                                                    margin-top: 20px;   
                                                    padding: 3px 0px;    
                                                }   
                                                @media(max-width:1045px){                          
                                                    margin-top: 15px; 
                                                }   
                                                @media(max-width:1028px){                          
                                                    padding: 0px 0px;    
                                                }   

                                                @media(max-width:1100px){                          
                                                    width: 100%;  
                                                    padding: 7px 0px; 
                                                 } 

                                                 @media(min-width:1794px){
                                                    font-size: 17px; 
                                                    margin-top: 79px; 
                                                }
                                                 @media(min-width:1020px){     
                                                    margin-top:20px;   
                                                } 
                                            } 
                                        }
                                    }
                                    
                                }

                            }

                            .div-small-screen{

                                    display: none;
                                    padding-top: 12px;
                                    padding-bottom: 8px;  

                                    // background-image: url(img/asa.png);      
                                    background-image: url(./../img/asa.png);       
                     
                                    background-position: center;   
                                    background-size: contain;        

                                    @media(max-width:1100px){                            
                                        display: flex;       
                                        width:80%;                            
                                        justify-content: space-between;
                                         margin: 0 auto; 
                                }        
                                    @media(max-width:712px){                          
                                        width:75%;                             
                                }           
                                    @media(max-width:539px){                          
                                        width:70%;                              
                                }                 
    
                                    align-items: center;    
                                    svg{  
                                        background: #2F2F2F;
                                        width: 20px;
                                        height: 20px;
                                        color: #AD9E8F;
                                        margin-bottom: 5px;
                                        padding: 7px;
                                        border-radius: 50%;
                                        
                                        // margin-right: 70px;
    
                                    }      
    
    
                                
                            }
                        }
                }
                .col-3{         
                    width: 15%;
                    position: relative;
                    // background:#AF9F90;   

                    background-image: url(./../img/asa.png);       
                    // background-image: linear-gradient(rgba(rgba(171, 153, 139, 1),.5), rgba(rgba(171, 153, 139, 1),.5)), url(img/backgroun-section.png);
     
                    background-position: center;   
                    background-size: contain;          
                              
                    // padding: 15px;      
                
                        
                    @media(max-width:1100px){                             
                        display: none;        
                    }      

                    .wrapper{  
                        position: absolute;
                        top: 0;  
                        left: 0;   
                        height: 100%;  
                        display: flex; 
                        justify-content: space-around;

                        .social-media-container{
                            display: flex;
                            flex-direction: column;
                            padding: 5px;     
                            justify-content: center;
                            align-items: center;  
                            margin: auto 0;      

                            svg{
                                width: 26px;     
                                height: 26px;     
                                background: #2F2F2F;  
                                color: #AD9E8F;       
                                margin-bottom: 5px;   
                                padding: 7px;   
                                border-radius: 50%; 

                                @media(max-width:1400px){                          
                                    width: 20px;
                                    height: 20px;         
                                }   
                                
                                @media(max-width:1154px){                          
                                    
                                    width: 14px;
                                    height: 14px;
  
                                }    
                            }
                        }
                    }

                }           
            }
        }
    }
}          

      
.footer-last{
    background-color: #000;   
    padding: 5px;    

    @media(max-width:1100px){
        display: none;  
    }

    .footer-last-wrapper{

        a{
            text-decoration: none;
            p{
                padding: 10px;      
                color: #fff; 
                text-align: center; 
                font-size: 18px; 
                
            }   
        }
    }
}

.small-screen-footer-last{  
    display: none;     
    
    @media(max-width:1100px){
        // display: flex; 
        display: flex;       
    }

    .footer-last-wrapper{
        // background-color: red; 
        width: 100%;   

        a{
            text-decoration: none;
            p{
                padding: 10px;      
                color: #fff; 
                text-align: center; 
                font-size: 18px; 
                
            }   
        }
    } 
}